body{
    /*background: url("../img/back7.png") no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    backdrop-filter: blur(7px);
    zoom: 67%;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #9E0000;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

.topnav {
    background-color: #9E0000;
    position: relative;
    overflow: hidden;
    color: #fff;
    text-align: right;
    border-radius: 8px;
    border-style: groove;
    border-width: 6px;
    border-color: #9E0000;
    height: 60px;
}

img{
    float: left;
    width: 175px;
}

.topnav a {
    font-family: Apple Chancery, cursive;
    float: right;
    display: block;
    color: rgb(255, 255, 255);
    text-align: right;
    padding: 14px 12px;
    text-decoration: none;
    font-size: 30px;
    margin-right: 60px;
}

.topnav a:hover {
    background-color: #9E0000;
    color: #BF1313;
    border-radius: 8px;
    -webkit-transition: 0.5s;
    color: rgb(31, 30, 30);
}

.article-container {
    background-color: transparent;
    border-radius: 8px;
    color: #fff;
    height: fit-content;
    width: 870px;
}

.article-sobre-container {
    background-color: transparent;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    height: fit-content;
    width: 870px;
    
}


.article-container h1{
    font-size: 28px;
    background: #BF1313;
    border-radius: 8px;
    border-style: groove;
    border-color: black;
    border-width: 2px;
    color: white;
    font-weight: lighter;
}

h1 {
    font-family: Apple Chancery, cursive;
    font-size: 24px;
    color: white;
}

.titulo-container h2{
    color: rgb(255, 255, 255);
    margin-top: 0px;
    font-weight: lighter;
    
}

.titulo-container {
    background-color: #BF1313;
    color: #fff;
    top: 2px;
    height: 40px;
    position: relative;
    border-radius: 2px;
    border-style: groove;
    border-width: 4px;
    border-color: #9E0000;
}



.titulo-container .search-container {
    margin-right: 55px;
}

.titulo-container input[type="text"] {
    color: black;
    background: white;
    padding: 6px;
    margin-top: -50px;
    font-size: 17px;
    border: none;
    float: right;
}

::placeholder{
    color:rgb(105, 92, 92);
}

.titulo-container .search-container button {
    border-radius: 4px;
    float: right;
    margin-top: -50px;
    margin-right: -48px;
    height: 32px;
    width: 45px;
    border: none;
    background-color: #2a2ddd;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    
    transition: all 0.5s;
    cursor: pointer;
}

.titulo-container .search-container button:hover {
    background: greenyellow;
    color: black;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
}

h2 {
    font-family: Apple Chancery, cursive;
}

h3 {
    font-family: Apple Chancery, cursive;
    font-size: 20px;
    color: rgb(31, 30, 30);
    text-align: justify;
}

p {
    margin: 0;
    text-indent: 3ch;
}

.tesauro-container{
    position: relative;
    background-color: #BF1313;
    border-radius: 8px;
    border-style: groove;
    border-width: 6px;
    border-color: #9E0000;
    width: fit-content;
    height: 150px;
    bottom: -6px;
}

.tesauro-container h3{
    font-size: 30px;
    color: white;
}

.tesauro-container a{
    color: rgb(255, 255, 255);
    font-family: Apple Chancery, cursive;
    font-size: 30px;
    text-decoration-line: none;

}

.tesauro-container a:hover{
    background-color: transparent;
    color: #000000;
    border-radius: 8px;
    -webkit-transition: 0.5s;
}

.tesauro-hierarquico-container{
    border-radius: 8px;
    border-color: black;
    background-color: #BF1313;
    color: #fff;
    width: fit-content;
    position: relative;
    left: 950px;
    top: -170px;
    font-weight: lighter;
}

.tesauro-hierarquico-container h1{
   font-size: 30px;
}

.tutorial-container{
    position: relative;
    background-color: #BF1313;
    border-radius: 8px;
    border-style: groove;
    border-width: 6px;
    border-color: #9E0000;
    width: fit-content;
    height: fit-content;
    width: 750px;
    bottom: -6px;
}

.tutorial-container h3{
    font-size: 30px;
    color: white;
}

.tutorial-container a{
    color: rgb(255, 255, 255);
    font-family: Apple Chancery, cursive;
    font-size: 30px;
    text-decoration-line: none;

}

.tutorial-container a:hover{
    background-color: transparent;
    color: #000000;
    border-radius: 8px;
    -webkit-transition: 0.5s;
}

.tutorial-hierarquico-container{
    
    
    color: #fff;
    width: fit-content;
    position: relative;
    left: 950px;
    top: -390px;
    font-weight: lighter;
}

.tutorial-hierarquico-container h1{
    background-color: #BF1313;
    border-radius: 8px;
    border-color: black;
}

.fundo-container{
    bottom: -550px;
}

.sobre-fundo-container{
    bottom: -30px;
   
    font-size: 26px;
    width: max-content;
}

.index-fundo-container{
    top: -65px;
}

.fundo-tutorial-container{
    bottom: -410px;
    margin-left: 10px;
}

.fundo-contribua-container{
    bottom: -30px;
}

.creators-container {
    position: relative;
    background-color: #BF1313;
    border-radius: 8px;
    border-style: groove;
    border-width: 6px;
    border-color: #9E0000;
    width: auto;
    height: auto;
    
}

.sobre-container {
    position: relative;
    background-color: #b30000;
    width: auto;
    height: auto;
}


.article-sobre-container h4{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    border-radius: 4px;
    background-color: #b30000;
    color: white;
}

.sobre-container h2{
    color: rgb(218, 206, 206);
}

.article-sobre-container h1{
    font-size: 30px;
    text-decoration-line: underline;

}

.creators-container h3{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: lighter;
}

.hierarquico-container {
    color: #fff;
    width: fit-content;
    height: fit-content;
    position: relative;
    left: 950px;
    top: -885px;
    font-weight: lighter;
}

.sobre-hierarquico-container{
    color: #fff;
    width: 650px;
    position: relative;
    left: 950px;
    top: -1365px;
    font-weight: lighter;
}

.sobre-hierarquico-container h1{
    background-color: #BF1313;
    border-radius: 8px;
    border-color: black;
    width: fit-content;
}

.hierarquico-container h1{
    font-size: 28px;
    background: #b30000;
    border-radius: 8px;
    border-style: groove;
    border-color: black;
    border-width: 2px;
    color: white;
    font-weight: lighter;
}

.nivel-container {
    position: absolute;
    background-color: #BF1313;
    border-radius: 8px;
    border-style: groove;
    border-color: #fff;
    border-width: 6px;
    border-color: #9E0000;
    width: 500px;
}

.nivel-container h3{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: lighter;
}

footer {
    font-family: Apple Chancery, cursive;
    position: relative;
    bottom: 5px;
    background-color: #9E0000;
    color: #FFF;
    font-size: 20px;
    width: 99%;
    height: 50px;    
    text-align: center;
    line-height: 50px;
    border-radius: 4px;
    border-style: groove;
    border-color: #000000;
}

.formulario-container{
    margin-left: left;
}

.resultado-container {
    top: 3000px;
    color: rgb(255, 255, 255);
    background-color: beige;
    background-color: transparent;
    border-radius: 8px;
    border-style: groove;
    border-width: 6px;
    border-color: #000000;
    font-size: 25px;
}



.resultadores-container h3{
    font-size: 26px;
    color: rgb(0, 0, 0);
    
}

.resultadores-container a{
    font-family: Apple Chancery, cursive;
    
    color: rgb(0, 0, 0);
    
    padding: 14px 12px;
    
    font-size: 25px;
    margin-right: 60px;
    text-decoration: none;
    
}

.resultadores-container a:hover {
    background-color: transparent;
    color: #BF1313;
    border-radius: 8px;
    -webkit-transition: 0.5s;
    
   
}

.cconceito-container{
    position: inherit;
    color: rgb(255, 255, 255);
    background-color: transparent;
    
    font-size: 25px;
    width: 750px;
    height: fit-content;
}

.cconceito-container h3{
    font-size: 28px;
    color: rgb(0, 0, 0);

}

.conceito-container{
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
    border-style: groove;
    border-width: 2px;
    border-color: black;
}

.conceito-container h5{
    text-align: justify;
    color: #9E0000;
    font-size: 24px;
    text-decoration-line: underline;
    background-color: transparent;

}

h5{
    font-family: Apple Chancery, cursive;
    background-color: #9E0000;
    color: rgb(255, 255, 255);  
}

h6{
    font-family: Apple Chancery, cursive;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 22px;
}

.hierarquicod-container {
    background-color: transparent;
    color: #fff;
    position: absolute;
    left: 955px;
    margin-top: -1757px;
    width: 750px;
    height: fit-content;
}

.hierarquicod-container h1{
    font-size: 28px;
    color: black;
    font-weight: lighter;
}

.hierarquicod-container h3{
    font-size: 24px;
    color: black;
    
}

.hierarquicodtres-container {
    background-color: transparent;
    color: rgb(0, 0, 0);
    position: absolute;
    left: 755px;
    margin-top: -1352px;
    width: 750px;
    height: fit-content;
}

.hierarquicodtres-container h1{
    font-size: 28px;
    color: black;
    font-weight: lighter;
}


.hierarquicodquatro-container {
    background-color: transparent;
    color: rgb(0, 0, 0);
    position: absolute;
    left: 1000px;
    margin-top: -1380px;
    width: 750px;
}

.hierarquicodquinto-container {
    background-color: transparent;
    color: rgb(0, 0, 0);
    position: absolute;
    left: 755px;
    margin-top: -1770px;
    width: 750px;
}

.hierarquicodseis-container {
    background-color: transparent;
    color: rgb(0, 0, 0);
    position: absolute;
    left: 755px;
    margin-top: -1770px;
    width: 750px;
}

.hierarquicodsete-container {
    background-color: transparent;
    color: rgb(0, 0, 0);
    position: absolute;
    left: 755px;
    margin-top: -1770px;
    width: 750px;
}

.hierarquicodoito-container {
    background-color: transparent;
    color: rgb(0, 0, 0);
    position: absolute;
    left: 755px;
    margin-top: -1770px;
    width: 750px;
}


.hierarquicodnove-container {
    background-color: transparent;
    color: rgb(0, 0, 0);
    position: absolute;
    left: 755px;
    margin-top: -1573px;
    width: 750px;
}

.niveld-container {
    background-color: #fff;
    border-radius: 8px;
    border-style: groove;
    border-width: 2px;
    border-color: #000000;
    height: fit-content;
}

.niveld-container h3{
    font-size: 23px;
}

.niveld-container a{
    color: rgb(0, 0, 0);
    font-size: 23px;
    text-decoration: none;
}

.niveld-container a:hover{
    background-color: #fff;
    border-radius: 8px;
    -webkit-transition: 0.5s;
    color: #BF1313;
}

